In [28]:
import pandas as pd
import numpy as np

In [ ]:
#TIMESTAMP OBJECT

#particular time at the moment : at 3:00 pm on 1 of JAN

In [ ]:
#creating time stamo object:
# year month day : in this pattern
pd.Timestamp('2024/12/31')   # if time not specfied it considerd it at 12 am (rat) : 00:00:00

Timestamp('2024-12-31 00:00:00')

In [ ]:
#variations to create timestamp object
pd.Timestamp('2023-12-31')
pd.Timestamp('2023 , 12 , 31')

Timestamp('2023-12-31 00:00:00')

In [ ]:
#ONLY YEAR
pd.Timestamp('2025')  # if only year spec it will considerd it first day of that year

Timestamp('2025-01-01 00:00:00')

In [ ]:
#using text
pd.Timestamp('31th December 2024')
pd.Timestamp('31th of December,2024')
pd.Timestamp('31 of december 2024')

Timestamp('2024-12-31 00:00:00')

In [ ]:
#provding time
pd.Timestamp('31th December 2024 9:21Pm') # in 24 hour fomat

Timestamp('2024-12-31 21:21:00')

In [ ]:
#using timestamp object using python date time obj
import datetime as dt

obj  = dt.datetime(2023,12,31,9,30,0)# hour min sec

pd.Timestamp(obj)

Timestamp('2023-12-31 09:30:00')

In [ ]:
# fetching attributes from date time obj creating using python module
obj.year
obj.month
obj.hour
obj.minute
obj.second

0

In [ ]:
# # why separate objects to handle data and time when python already has datetime functionality?


# # Pandas' Timestamp and DatetimeIndex objects are designed to make working with date-time data in large datasets easier and more efficient than
#  Python's built-in datetime module.
#  Python's datetime works well for individual date-time manipulations but does not support vectorized operations or integration with DataFrames.
# With Pandas, you can apply operations to entire columns of dates without needing loops, making it much faster for data analysis tasks.

# # Pandas also integrates date-time data directly into DataFrames, allowing for easy filtering, grouping, and extracting parts of the date,
#  such as the year or month.
#  Additionally, Pandas provides built-in support for handling time zones and missing data (NaT), which Python's datetime does not handle as easily.

# # Pandas offers advanced date-time operations like resampling (converting daily data to monthly) and shifting dates for time series analysis.
#  It's optimized for performance when processing large datasets,
# making it more efficient than Python's datetime module for tasks involving date-time data in DataFrames.

syntax wise datetime is very convenient

But the performance takes a hit while working with huge data. List vs Numpy Array

The weaknesses of Python's datetime format inspired the NumPy team to add a set of native time series data type to NumPy.

The datetime64 dtype encodes dates as 64-bit integers, and thus allows arrays of dates to be represented very compactly.

In [ ]:
#behind the scn it is treating as interges of 64 bit by numpy
date  = np.array('2024-12-31' , dtype= np.datetime64)

In [ ]:
#vectorization
date+np.arange(10) #genraing next 10 dates more ,

array(['2024-12-31', '2025-01-01', '2025-01-02', '2025-01-03',
       '2025-01-04', '2025-01-05', '2025-01-06', '2025-01-07',
       '2025-01-08', '2025-01-09'], dtype='datetime64[D]')

Because of the uniform type in NumPy datetime64 arrays, this type of operation can be accomplished much more quickly than if we were working directly with Python's datetime objects, especially as arrays get large

Pandas Timestamp object combines the ease-of-use of python datetime with the efficient storage and vectorized interface of numpy.datetime64

From a group of these Timestamp objects, Pandas can construct a DatetimeIndex that can be used to index data in a Series or DataFrame

In [40]:
#date time index:
# collection of pandas timestamp
pd.DatetimeIndex([ '2024-12-25' , '2024-12-26'  , '2024-12-27' ])
import datetime as dt
bj  = dt.datetime(2023,12,31,9,30,0)# hour min sec

pd.DatetimeIndex([bj])

dates = pd.DatetimeIndex([dt.datetime(2023,1,1),dt.datetime(2023,1,2),dt.datetime(2023,1,3)])
pd.Series( [1,2,3] ,index  = dates)

2023-01-01    1
2023-01-02    2
2023-01-03    3
dtype: int64

In [ ]:
#date range function

In [52]:
pd.date_range(start = '2024-12-31' , end  = '2025-1-29' ) #by default freq  =  d
#want alternate days
pd.date_range(start = '2024-12-31' , end  = '2025-1-29' , freq  = '2d')
#AFTER 5dates
pd.date_range(start = '2024-12-31' , end  = '2025-1-29' , freq  = '5D')

#show businnes days only means(Mon-FRi) freq  = b
pd.date_range(start = '2024-12-31' , end  = '2025-1-29' , freq = 'b')

#only sundays
pd.date_range(start = '2024-12-31' , end  = '2025-1-29'  ,freq  = 'W-Sun')

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26'], dtype='datetime64[ns]', freq='W-SUN')

In [56]:
#hourly time stamo
pd.date_range(start = '2024-12-31',end = '2025-01-29' , freq = 'H')
#freq :
# freq = h => hour
# 2h > 2 hour gaps

# freq = M=> minute
# 2m > 2 minute gaps

# freq = S => Second
# 2s > 2 second gaps

<ipython-input-56-d93c9a093a25>:2: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  len(pd.date_range(start = '2024-12-31',end = '2025-01-29' , freq = 'S'))

2505601

In [68]:
#I  WANT n  Days after a particular days
pd.date_range(start = '2024-12-31',periods = 30 )

import pandas as pd

# Create date ranges
a = pd.date_range(start='2022-12-31', periods=30)
b = pd.date_range(start='2024-12-31', periods=30)

# Calculate the difference (in days)
x = b - a

# Convert the difference into years (365.25 days in a year)
years_diff = x / pd.Timedelta(days=365.25)

# Print the result
print(years_diff)

Index([2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566,
       2.001368925393566, 2.001368925393566, 2.001368925393566],
      dtype='float64')

In [71]:
exp = pd.read_csv('/content/expense_data (1).csv')

In [88]:
#to_datetime func

# convert ordinary string date to datetime pandas obj

x = pd.Series(['2023-01-01','2024-01-01','2030-01-01'])
#fetching year only
x.str.split('-').str.get(0)

#why to hastle
y  = pd.to_datetime(x)
#use dt like str for dealing with dates
y.dt.year
y.dt.month
y.dt.month_name()
y.dt.day_name()
y.dt.year.iloc[2]-y.dt.year.iloc[0]  # year gap

7

In [94]:
  # if wrong/invalid date occurs to avoid/ignore use parameter errors  ='coerce'
day   = pd.Series(['2023-01-01','2024-01-01','2030-01-32'])
pd.to_datetime(day,errors = 'coerce') # Nat is invalid time or nan value
pd.to_datetime(day,errors = 'coerce').isnull()

0    False
1    False
2     True
dtype: bool