In [1]:
import numpy as np
import pandas as pd

In [4]:
data = ["jibran","ali","sajjad","umar"]
pd.Series(data)

0    jibran
1       ali
2    sajjad
3      umar
dtype: object

creating series from dictionary

In [7]:
marks= {
    "maths":10,
    "english":20,
    "urdu":30
}
pd.Series(marks)

maths      10
english    20
urdu       30
dtype: int64

SEREIS ATTRIBUTES

SIZE : give total elements(values) of the series

In [8]:
data = {
    "a" :"jibran",
    "b" :"ali",
    "c" :"sajjad",
    "d" :"umar"
}
s = pd.Series(data)
s.size

4

dtype

ased on the standard behavior of pandas, the expected output should be 'O' for the dtype when dealing with string data

In [10]:
data = {
    "a" :"jibran",
    "b" :"ali",
    "c" :"sajjad",
    "d" :"umar"
}
s = pd.Series(data)
s.dtype

dtype('O')

name

In [11]:
data = {
    "a" :"jibran",
    "b" :"ali",
    "c" :"sajjad",
    "d" :"umar"
}
s = pd.Series(data , name="dost")
s.name

'dost'

Is_unique:tells if every values are distinct

In [14]:
data = {
    "a" :"jibran",
    "b" :"ali",
    "c" :"sajjad",
    "d" :"umar"
}
s = pd.Series(data)
s.is_unique

True

In [16]:
data = {
    "a" :"jibran",
    "b" :"jibran",
    "c" :"sajjad",
    "d" :"umar"
}
s = pd.Series(data)
s.is_unique

False

INDEX AND VALUES

In [18]:
data = {
    "a" :"jibran",
    "b" :"jibran",
    "c" :"sajjad",
    "d" :"umar"
}
s = pd.Series(data)
s.index
s.values

['jibran' 'jibran' 'sajjad' 'umar']

In [22]:
pd.read_csv('/content/people-100.csv')

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

# New Section

ModuleNotFoundError: No module named 'faker'