In [38]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt

making Changes in the series

In [6]:
marks = {
    "maths" : 100,
    "chem"  : 40,
    "Eng" : 29,
    "dld" : 50,
}
m  = pd.Series(marks)
m[1]  = 200
m

<ipython-input-6-e303182e72df>:8: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  m[1]  = 200

maths    100
chem     200
Eng       29
dld       50
dtype: int64

If index does not exist , and you try to change its value , it will simply add it

In [8]:
m["sst"] = 12
m

maths    100
chem     200
Eng       29
dld       50
sst       12
dtype: int64

In [9]:
#changing multiple values
m[0:2] = 900
m

maths    900
chem     900
Eng       29
dld       50
sst       12
dtype: int64

In [10]:
#changing through fancy indexing
m[["dld","Eng"]] = 0
m

maths    900
chem     900
Eng        0
dld        0
sst       12
dtype: int64

Series with python functionalities

In [19]:
marks = {
    "maths" : 100,
    "chem"  : 40,
    "Eng" : 29,
    "dld" : 50,
}
m = pd.Series(marks)
print(len(m))
print(type(m))
print(dir(m))
print(sorted(marks))# by default on keys
print(sorted(marks.values()))
print(max(marks))
print(min(marks))

4
<class 'pandas.core.series.Series'>
['Eng', 'T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'chem', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dld', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'maths', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']
['Eng', 'chem', 'dld', 'maths']
[29, 40, 50, 100]
maths
Eng

In [33]:
print(len(m))
print(dict(m))
print("Eng" in m)
print("Sst" not in m)
for i in m : #runs on valuess by default
  print(i,end= " ")
print(" ")
for j in m.index:
  print(j,end=" ")

4
{'maths': 100, 'chem': 40, 'Eng': 29, 'dld': 50}
True
True
100 40 29 50
maths chem Eng dld

In [34]:
100-m # to score  100 how much score is needed ,here broadcasting is done

maths     0
chem     60
Eng      71
dld      50
dtype: int64

In [37]:
#Bollean masking
mask = m>50 #gives boolean series
m[mask]

maths    100
dtype: int64

agg


In pandas, you can perform aggregation (agg) on a Series using the agg() function to apply one or more operations like sum, mean, min, max, etc.

In [42]:
s = pd.Series([1, 2, 3, 4, 5])

# Apply aggregation using 'agg'
result = s.agg(['sum', 'mean', 'prod'])

print(result)

sum      15.0
mean      3.0
prod    120.0
dtype: float64

Astype

DataFrame.astype(dtype, copy=True, errors='raise')

dtype: The target data type you want to convert to (e.g., int, float, str).


copy: If True, it returns a new object; if False, it tries to modify the data in-place.

errors: Controls what to do when the conversion fails. Options are:
'raise': Raise an error (default).


'ignore': Return the original object without changes if conversion fails


In pandas, the astype() method is used to cast or convert the data type of a Series or DataFrame to a different type.

In [43]:
s = pd.Series(['1', '2', '3', '4', '5'])

# Convert the Series to integers
s_int = s.astype(int)

print(s_int)

0    1
1    2
2    3
3    4
4    5
dtype: int64

drop_duplicates


The drop_duplicates() method can also be applied to a pandas Series to remove duplicate values.

Series.drop_duplicates(keep='first', inplace=False)


keep: Determines which duplicates to keep:


'first': Keep the first occurrence (default).


'last': Keep the last occurrence.


False: Drop all duplicates.


inplace: If True, it modifies the Series in place and returns None. If False (default), it returns

In [52]:

# Create a pandas Series with duplicates
s = pd.Series([1, 2, 2, 3, 4, 4,4,4])

# Drop duplicates (keep the first occurrence)
print(s.drop_duplicates())
#Keeps last occureence only
print(s.drop_duplicates(keep = 'last'))
#deletes all ocuurence of duplicates
print(s.drop_duplicates(keep = False))

0    1
1    2
3    3
4    4
dtype: int64
0    1
2    2
3    3
7    4
dtype: int64
0    1
3    3
dtype: int64

dropna


The dropna() method can also be applied to a pandas Series to remove the NaN (missing) values.

Series.dropna(inplace=False)

In [58]:
s = pd.Series([1, 2, np.nan, 4, 5, np.nan])

# Drop NaN values
s_no_na = s.dropna() #converte the int values to float by default
s_no_na= s_no_na.astype(int)

print(s_no_na)

0    1
1    2
3    4
4    5
dtype: int64

fillna()


The fillna() method in pandas is used to fill missing values (NaN) in a DataFrame or Series with a specified value or method (e.g., forward filling, backward filling).

In [62]:
s = pd.Series([1, 2, np.nan, 4, 5, np.nan])
s.fillna(0)
print(s.fillna(method = 'ffill'))  #method='ffill' will fill missing values with the previous non-NaN value in the column or row. :forward fill
print(s.fillna(method = 'bfill')) #method='ffill' will fill missing values with the previous non-NaN value in the column or row. backward fill

0    1.0
1    2.0
2    2.0
3    4.0
4    5.0
5    5.0
dtype: float64
0    1.0
1    2.0
2    4.0
3    4.0
4    5.0
5    NaN
dtype: float64

<ipython-input-62-2afadc2aebaf>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(s.fillna(method = 'ffill'))  #method='ffill' will fill missing values with the previous non-NaN value in the column or row. :forward fill
<ipython-input-62-2afadc2aebaf>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(s.fillna(method = 'bfill')) #method='ffill' will fill missing values with the previous non-NaN value in the column or row. backward fill


filter()


The filter() method in pandas is used to select specific rows or columns from a DataFrame or Series based on specified criteria. You can filter data using column names, regular expressions, or specific conditions.

In [68]:
# Create a Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Filter using index labels
filtered_s = s.filter(items=['a', 'c'])

print(filtered_s)
#also can filter throw regex

a    10
c    30
dtype: int64

is_null()

In [69]:
s = pd.Series([1, 2, np.nan, 4, 5, np.nan])

# Check for null values (NaN)
is_null = s.isnull()

print(is_null)

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

NameError: name 'df' is not defined